/project_2/.ipynb_checkpoints
/project_2/datasets/Old Test
/project_1/code/.ipynb_checkpoints
/project_3/.ipynb_checkpoints
/project_3/Project 3.pptx
/capstone/Flask
/capstone/.ipynb_checkpoints
/capstone/output
/capstone/datasets

